# Ignore node_modules because they will be installed in the container
node_modules

# Ignore build files
dist

# Ignore editor specific configuration files
.vscode
.idea
*.sublime*

# Ignore log files
npm-debug.log
yarn-debug.log
yarn-error.log
*.log

# Ignore files relative to Git
.git
.gitignore

# Ignore Dockerfiles or other Docker files that are not relevant in the image
Dockerfile
.dockerignore

# Ignore local environment files
.env
.env.local
.env.*.local

# Ignore cache and output files specific to local environment
*.swp
*.lock
*.pid
*.seed
*.pid.lock
