:root{
  --primary-color: #267699;
  --second-color: #202c3f;
  --third-color: #ffab27;
  --white: #fff;
  --greylight:#eee;
  --grey: #666;
  --transition: all 0.3s ease;
  --border-radius: 0.5rem;
} 
body{
  color: var(--grey)!important;
}
p{
  line-height: 2rem;
}
i.fa{
  margin-right: 0.5rem;
}
button.btn{
  color: var(--white);
  background-color: var(--grey);
  border-radius: var(--border-radius);
  transition: var(--transition);
}
button.btn:hover{
  background-color: var(--third-color);
  color: var(--white);
  transition: var(--transition);
}

/*------------------------------------------------------------------------*/
/* HOMEPAGE
/*------------------------------------------------------------------------*/
.home-navigation{
  background-color: var(--greylight);
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  top: 0;
}
.home-navigation ul{
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
.home-navigation ul li{
  display: inline-block;
  margin: 0 1rem;
}
.home-navigation ul li a{
  text-decoration: none;
  text-transform: uppercase;
  color: var(--grey);
  font-size: 1.6rem;
  transition: var(--transition);
}
.home-navigation ul li a:hover{
  color: var(--primary-color);
  transition: var(--transition);
}
.unity-manager{
  text-align: center;
  min-height: calc(100vh - 70.4px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 70.4px;
  padding: 2rem 0;
}
.logo{
  display: block;
  max-width: 80%;
  margin: 2rem auto;
}
.sign{
  margin: 5rem 0;
}
.btn-link{
  font-size: 1.6rem;
  text-decoration: none!important;
  text-transform: uppercase;
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: var(--border-radius);
  width: max-content;
  display: block;
  margin: 0 auto 2rem;
  padding: 1rem 2rem;
  transition: var(--transition);
}
.btn-link:hover{
  background-color: var(--third-color);
  color: var(--white)!important;
  transition: all 0.3s ease;
}
.parallax{
  background-image: url("../img/background_parallax.webp");
  height: 20vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.introduce{
  padding: 5rem 0;
}
.social{
  color: var(--greylight);
  font-size: 2rem;
  text-align: center;
  padding: 1rem 0;
}
.social-list{
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-list li{
  display: inline-block;
  margin-right: 2rem;
}
.social-list li:last-child{
  margin-right: 0;
}
.home-footer{
  background-color: var(--second-color);
  color: var(--greylight);
  padding: 1rem 0;
}
.home-footer a{
  color: var(--white);
  text-decoration: none;
  transition: var(--transition)
}
.home-footer a:hover{
  color: var(--third-color);
  transition: var(--transition);
}
@media (min-width: 576px) {
  .btn-link{
    display: inline-block;
    margin: 0 2rem;
  }
  .parallax{
    height: 50vh;
  }
}
/*------------------------------------------------------------------------*/
/* SIGN UP
/*------------------------------------------------------------------------*/
.signup, .signin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.signup .logo,
.signin .logo{
  max-width: 30rem;
}
.signup a,
.signin a{
  text-decoration: none;
  color: var(--grey);
  transition: var(--transition);
}
.signup a:hover, .signup a:focus,
.signin a:hover, .signin a:focus{
  color: var(--primary-color);
  transition: var(--transition);
}
.signup header,
.signin header{
  text-align: center;
}
.form-container{
  display: flex;
  flex-direction: column;
}
.form-header{
  background-color: var(--primary-color);
  color: var(--white);
  text-align: center;
  padding: 1rem 2rem;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}
.form-body{
  background-color: var(--greylight);
  padding: 2rem;
}
.form-control{
  border-radius: var(--border-radius);
  display: block;
  margin-bottom: 1.5rem;
  padding: 1rem .75rem;
  width: 100%;
}
.form-footer{
  padding: 2rem;
}
.signup footer,
.signin footer{
  width: 100%;
  margin-top: 2rem;
}